<div class="list_wrap">
  <% @lists.each do |list| %>
    <div class="list-box">
      
      
      <div class="list-comment">
        <span class="list-body"><%= list.body %></span>
        <span class="list-title"><%= link_to list.title, list_path(list.id) %></span>
      </div>
    </div>
  <% end %>
</div>

