*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1{
  margin-left: 40px;
  margin-top:25px;
  font-size: 25px;
}

strong{
  font-weight: bold;
}

.notice{
  color:green;
  margin-top:40px;
  margin-left:60px;
}

.top-main{
  margin:25px 80px;
}

.top-main p{
  padding-bottom: 25px;
  font-size: 15px;
}

.top-main a{
  border-bottom:solid 1px ;
  font-size:15px;
}

.index-main{
  margin-left: 45px;
}

td{
  padding-left: 10px;
}

.index-main h2{
  margin-top: 10px;
}

.submit{
  display: block;
}

.error{
  margin:20px 0;
  padding:30px;
  display:inline-block;
  background-color: red;
  color:white;
}

.show-main{
  margin: 30px 60px;
}

.show-main p{
  margin:25px;
  font-size: 13px;
}
.show-main strong{
  font-size: 15px;
}

.edit-main{
  margin-left: 45px;
}